{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,

    "plugins": ["@prettier/plugin-php", "prettier-plugin-blade"],

    "overrides": [
        {
            "files": "*.php",
            "options": { "parser": "php" }
        },
        {
            "files": "*.blade.php",
            "options": { "parser": "blade" }
        },
        {
            "files": ["*.ts", "*.tsx"],
            "options": { "parser": "typescript" }
        }
    ]
}
